.container {  display: grid;
  grid-template-columns: 0.4fr 2.2fr 0.4fr;
  grid-template-rows: 0.5fr 2.2fr 0.3fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header Header Header"
    ". Main ."
    "Footer Footer Footer";
}

.Header { grid-area: Header; }

.Footer { grid-area: Footer; }

.Main {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 16px 12px;
  grid-auto-flow: row;
  grid-template-areas:
    "Card11 Card21 Card31"
    "Card12 Card22 Card32"
    "Card13 Card23 Card33";
  grid-area: Main;
  padding: 20px;
}
.logo{
  max-width: 200px;
  max-height: 200px;
  justify-content: center;
  align-items: center;
}
img{
  height: 100%;
  width: 100%;
}
.Header {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      "Navbar Navbar Navbar";
    grid-area: Header;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
  }
#list{
  color: black;
  font-family: txt;
  display: flex;
  font-size: 25px;
  margin: 4px;
  text-align: center;
  color: white;

}
#list:hover{
  transform: scale(1.25);
	color: grey;
	border-bottom: 1px solid transparent;
}
.navbar{
  background-color: white !important;
  width: 100%;
    overflow: auto;
    opacity: 100;
}
.navbar ul{
  margin: 0;
    padding: 0;
    list-style: none;
    line-height: 30px;
    overflow: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    color: white;
}
.navbar ul li{
  display: inline;
  padding: 10 10 10 10;
  margin-top: 60px;
  font-size: 24px;
  border-bottom: 1px solid transparent;
  font: txt;
  color: white;

}
.navbar ul li:hover{
  color: blue;
  border-bottom: 1px solid transparent;

}
  
  .Footer { 
      grid-area: Footer; 
      background-color: black;
}
.footer_nav{
  margin: 10px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer_nav ul{
  font-family: txt;
  color: white;
}

.Footer {  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "footer footer footer";
  grid-area: Footer;
}
.navbar ul{
  margin: 0;
    padding: 0;
    list-style: none;
    line-height: 30px;
    overflow: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;
    font-family: txt;
}

.footer_nav { 
  grid-area: footer_nav; 
}

.footer_form { 
  grid-area: footer_form; 
}

.footer_img { 
  grid-area: footer_img; 
}
img:hover{
  transform: scale(1.25);
}
@font-face{
  font-family: txt;
  src: url('Fonts/Montserrat-Regular.ttf');
}
h2{
  font-family: txt;
}
p{
  font-family: txt;
}
label{
  font-family: txt;
  color: white;
}

.Text_index{
  padding: 10px;
  margin: 10px;
}
.form{
  display: inline;
  position: relative;
  left: 600px;
  bottom: -10px;
  color: white;
}
.Social_media{
  height: 50px;
  width: 50px;
  position: relative;
  left: 1350px;
  width: 21px;
  font-size: 40px;
  top: -15px;
}
.Social_media img{
  height: 50px;
  width: 50px;
}
.footer_nav_ul{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
}

.Card11 { 
  grid-area: Card11; 
}

.Card21 { 
  grid-area: Card21; 
}

.Card31 { 
  grid-area: Card31; 
}

.Card12 { 
  grid-area: Card12; 
}

.Card22 {
  grid-area: Card22; 
}

.Card32 { 
  grid-area: Card32; 
}

.Card13 { 
  grid-area: Card13; 
}

.Card23 { 
  grid-area: Card23; 
}

.Card33 { 
  grid-area: Card33; 
}
@media (max-width: 768px) {

  .Main{  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 16px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Card11"
      "Card21"
      "Card31"
      "Card12"
      "Card22"
      "Card32"
      "Card13"
      "Card23"
      "Card33";
    grid-area: Main;
  }

  .Card11{ 
    grid-area: Card11; 
  }

  .Card21{ 
    grid-area: Card21; 
  }

  .Card31{ 
    grid-area: Card31; 
  }

  .Card12{ 
    grid-area: Card12; 
  }

  .Card22{ 
    grid-area: Card22; 
  }

  .Card32{ 
    grid-area: Card32; 
  }

  .Card13{ 
    grid-area: Card13; 
  }

  .Card23{ 
    grid-area: Card23; 
  }

  .Card33{ 
    grid-area: Card33; 
  }

  .Header{  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "."
      "Navbar";
    grid-area: Header;
  }

  .Navbar{ 
    grid-area: Navbar; 
  }

  .Footer{ 
    grid-area: Footer; 
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
  }
  img:hover{
    transform: scale(1.25);
  }

}