
.logo{
	
	display: block;
	margin: 0px auto;
	height: 200px;
	width: 200px;


}
header{
	position: sticky; 
	top: 0%;
	padding: 20px;
	background-color: white;
}
@font-face{
	font-family: txt;
	src: url('Fonts/Montserrat-Regular.ttf');
}
body{
	margin: 0px;
	background-color: white;
	background-size: 12%;
}

#list{
	color: black;
	font-family: txt;
	display: flex;
	font-size: 28px;
	margin: 4px;
	text-align: center;
	color: white;

}
#list:hover{
	transform: scale(1.25);
	color: grey;
	border-bottom: 1px solid transparent;
}

.navbar{
	background-color: white !important;
	width: 100%;
  	overflow: auto;
  	opacity: 100;
}
.footer_nav{
	margin: 10px;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
}
.navbar ul{
	margin: 0;
  	padding: 0;
  	list-style: none;
  	line-height: 30px;
  	overflow: auto;
  	width: 100%;
  	display: flex;
  	flex-direction: row;
  	flex-wrap: nowrap;
  	justify-content: space-around;
  	color: white;
}
.navbar ul li{
	display: inline;
	padding: 10 10 10 10;
	margin-top: 60px;
	font-size: 24px;
	border-bottom: 1px solid transparent;
	font: txt;
	color: white;

}

.text{
	font-family: txt;
}
#ttl{
	font-family: txt;
}
img{
	max-width: 100%;
	max-height: 100%;
}
.account{
	position: relative;
	top: -255px;
	left: 1270px;
  	width: 25px;
  	font-size: 40px;
  	
}
.cart{
	position: relative;
	top: -302px;
	left: 1300px;
  	width: 21px;
  	font-size: 40px;
  	
}
h2{
	padding: 15px;
	margin: 15px;
	font-family: txt;

}
h1{
	padding: 10px;
	margin: 10px;
	font-family: txt;
}
p{
	padding: 10 10 10 10;
	margin: 20px;
	font-family: txt;
}
label{
	font-family: txt;
}
.prod{
	display: inline-block;
	font-size: inherit;
	width: 50%;
	max-width: 517px;
	padding: 20px;
	margin: 20px;
}
.subprod_ind_2{
	display: inline-block;
	font-size: inherit;
	width: 100%;
	max-width: 517px;
	padding: 20px;
	margin: 20px;
}

.prod:hover{
	box-shadow: 10px 10px 10px black;
}
.subprod_ind_2:hover{
	box-shadow: 10px 10px 10px black;
}
.prod_prod{
	font-size: 300px
	padding 50px;
}
.prod_prod img{
	width: 100%;
	height: 100%
}

.Social_media{
	height: 50px;
	width: 50px;
	position: relative;
	left: 1150px;
	width: 21px;
	font-size: 40px;
}
footer{
	display: flex;
	background-color: black;

}
#text{
	color: white;
}

.form{
	display: inline;
	position: relative;
	left: 400px;
	bottom: -10px;
	color: white;
}
.prod_ind{
	font-size: 0;
	text-align: center;
	padding: 20px;
	margin: 20px;
}
.prod_ind_2{
	font-size: 0;
	text-align: center;
	padding: 20px;
	margin: 20px;

}

.prod1{
	font-size: 0;
	text-align: center;

}
.prod2{
	font-size: 0;
	text-align: center;
}
.prod3{
	font-size: 0;
	text-align: center;
}
.form_cont{
	display: inline;
	position: relative;
	left: 20px;
}
.grid_container{
	margin: 10px;
	display: grid;
	grid-template-areas: 
	"header header header"
	". productos productos ."
	    ". productos ."
	"clientes"
	"footer"
}
.grid_container header{
	grid-area: header
}
.grid_container productos{
	grid-area: productos
}
.grid_container clientes{
	grid-area: clientes
}
.grid_container footer{
	grid-area: footer
}

