.container {  
    display: grid;
    grid-template-columns: 2.4fr;
    grid-template-rows: 0.5fr 1fr 0.2fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "Header Header Header"
      ". Main ."
      "Footer Footer Footer";
}
  
  .Header {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1.5fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      "Navbar Navbar Navbar";
    grid-area: Header;
  }
  .logo{
    display: flex;
    justify-content: center;
    margin: 0px auto;
    max-width: 200px;
    height: 200px;
  }
  .logo img{
    width: auto;
    height: auto;
  }
  img{
    max-width: 1400px;
    max-height: 1400px;
    margin: 10px;
  }
  .Navbar { 
      grid-area: Navbar;
 }
 .navbar ul{
  font-family: txt;
  color: black;
 }
 .navbar ul{
  margin: 0;
    padding: 0;
    list-style: none;
    line-height: 30px;
    overflow: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    color: white;
}
.navbar ul li{
  display: inline;
  padding: 10 10 10 10;
  margin-top: 60px;
  font-size: 24px;
  border-bottom: 1px solid transparent;
  font: txt;
  color: white;

}
#list{
   color: black;
    font-family: txt;
    display: flex;
    font-size: 28px;
    margin: 4px;
    text-align: center;
  }
#list:hover{
  transform: scale(1.25);
  text-decoration: overline;
	color: grey;
	border-bottom: 1px solid transparent;
}
  .Footer { 
      grid-area: Footer; 
      background-color: black;
}
.footer_nav{
  margin: 10px;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.footer_nav ul{
  font-family: txt;
  color: white;
}
  
  .Main {  
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 16px 12px;
    grid-auto-flow: row;
    grid-template-areas:
      "Image_index"
      "Text_index";
    grid-area: Main;
}
  
  .Image_index { 
      grid-area: Image_index; 
}
  
  .Text_index { 
      grid-area: Text_index; 
}

.Footer {  
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "footer_nav footer_form footer_img";
  grid-area: Footer;
}

.footer_nav { 
  grid-area: footer_nav; 
}

.footer_form { 
  grid-area: footer_form; 
}

.footer_img { 
  grid-area: footer_img; 
}
@font-face{
  font-family: txt;
  src: url('Fonts/Montserrat-Regular.ttf');
}
h2{
  font-family: txt;
}
p{
  font-family: txt;
}
label{
  font-family: txt;
  color: white;
}

.Text_index{
  padding: 10px;
  margin: 10px;
}
.form{
  display: inline;
  position: relative;
  left: 600px;
  bottom: -10px;
  color: white;
}
.Social_media{
  height: 50px;
  width: 50px;
  position: relative;
  left: 1350px;
  width: 21px;
  font-size: 40px;
  top: -15px;
}
.Social_media img{
  height: 50px;
  width: 50px;
}
.footer_nav_ul{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 300px;
}
h2{
  font-family: txt;
}
p{
  font-family: txt;
}
label{
  font-family: txt;
  color: white;
}
@media (max-width: 768px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2.3fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas:
      "Header Header Header"
      ". Main ."
      "Footer Footer Footer";
    max-width: 33%;
  }
  
  .Header {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr;
    gap: 0px 0px;
    grid-template-areas:
      "."
      "navbar";
    grid-area: Header;
  }
  
  .navbar {  
    grid-area: navbar; 
  }
  
  .Main { 
    grid-area: Main; 
  }
  
  .Footer { 
    grid-area: Footer; 
  }
  
}